<% layout('../globals/layout') %>

<h1>Users</h1>

<ul class="users">
    <% userList.forEach(function(user){ %>
        <li class="user">
            <a href="/users/<%= user.username %>">
                <span class="avatar">
                    <% if (user.gravatarHash) { %>
                        <img src="http://www.gravatar.com/avatar/<%= user.gravatarHash %>?s=75" />
                    <% } else { %>
                        &nbsp;
                    <% } %>
                    <span class="rank <%= user.rank ? user.rankClass : 'hide' %>"></span>
                </span>
                <span class="profile-info">
                    <span class="block"><%= user.displayName %></span>
                    <span class="block"><%= user.location ? user.location : '' %></span>
                </span>
            </a>
        </li>
    <% }); %>
</ul>
