<% layout('../globals/layout') %>

<h1>My Account</h1>

<form role='form' action="/myaccount" method="post" class="auth-form">
    <div>
        Username:
        <div class="auth-input noedit">
            <%= user.username %>
        </div>
    </div>
    <label>
        Password:
        <input type='password' name="password" placeholder='Password' class="auth-input" />
    </label>
    <label>
        Full Name:
        <input type='text' name="fullName" placeholder='Full Name' class="auth-input" value="<%= user.fullName ? user.fullName : '' %>" />
    </label>
    <label>
        Location:
        <input type='text' name="location" placeholder='Location' class="auth-input" value="<%= user.location ? user.location : '' %>" />
    </label>
    <label>
        Email:
        <input type='text' name="email" placeholder='Email Address' class="auth-input" value="<%= user.email ? user.email : '' %>" />
    </label>
    <label>
        Gravatar Email:
        <input type='text' name="gravatarEmail" placeholder='Gravatar Email Address'  class="auth-input" value="<%= user.gravatarEmail ? user.gravatarEmail : '' %>" />
    </label>
    <label>
        Judo Ranks:
        <select name="rank" class="auth-input">
            <% judoRanks.forEach(function(rank){ %>
                <option <% if(user.rank == rank){ %> selected="selected"<% } %> >
                    <%= rank %>
                </option>
            <% }); %>
        </select>
    </label>
    <input type='submit'/>
</form>