<ul class="posts">
    <% posts.forEach(function(post){ %>
        <li class="post approved-<%= post.approved %>">
            <% if (isAdmin) { %>
                <span class="admin-operation delete-item" data-url="/posts/<%= post._id %>" data-method="DELETE" data-callback="removeParent">x</span>
            <% } %>
            <% if(post.type === 'youtube') { %>
                <header><%= post.title %></header>
                <object width="210" height="150">
                    <param name="movie" value="//<%= post.url %>"></param>
                    <param name="allowFullScreen" value="true"></param>
                    <param name="allowscriptaccess" value="always"></param>
                    <embed src="//<%= post.url %>" type="application/x-shockwave-flash" width="210" height="150" allowscriptaccess="always" allowfullscreen="true"></embed>
                </object>
            <% } else if(post.type === 'image') { %>
                <header><%= post.title %></header>
                <div class="image-wrapper">
                    <a class="image" href="<%= post.url %>" data-lightbox="image" data-title="<%= post.title %>" style="background-image: url('<%= post.url %>')">
                        &nbsp;
                    </a>
                </div>
            <% } %>
            <footer>
                <span>Posted on: <%= post.dateString %></span>
                <div class="left">Submitted by: <a href="/users/<%= post.username %>"><%= post.username %></a></div>
                <% if (isAdmin) { %>
                    <div class="right">
                        <form method="POST" action="/posts/<%= post._id %>" class="toggleApproved">
                            <input type="hidden" name="approved" value="<%= !post.approved %>" />
                            <input type="submit" value="Toggle" />
                        </form>
                    </div>
                <% } %>
            </footer>
        </li>
    <% }) %>
</ul>